html {
  display: block;
}

h1 {
    font-size: 50px;
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h2 {
    font-size: 42px;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    display: block;
    margin: 8px;
    margin: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}
p {
    color: Gray;
    font-size: 21px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.cta {
    color: Aquamarine;
    font-size: 16px;
}
.footer {
    text-align: right;
}
